@import "@/styles/variables.scss";

.button {
  appearance: none;
  -webkit-appearance: none;
  background: var(--brand-color);
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.98px;
  text-transform: uppercase;
  height: 62px;
  width: 100%;
  max-width: 228px;
  padding: 0 24px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    background: rgba(var(--brand-color-rgb), .8);
  }
  @include media(base) {
    max-width: 234px;
    height: 63px;
    font-size: 0.938rem;
  }
  @include media(desktop) {
    width: auto;
    max-width: none;
    height: 54px;
    padding: 0 40px;
  }
  @include media(tablet) {
    width: auto;
    max-width: none;
    height: 54px;
    padding: 0 40px;
  }
  @include media(mobile) {
    width: auto;
    max-width: none;
    height: 47px;
    padding: 0 50px;
    font-size: 0.688rem;
  }
}