@import "@/styles/variables.scss";

.section {
  width: 100%;
  max-width: 1840px;
  padding: 0 40px;
  margin: 0 auto;
  @include media(desktop) {
    padding: 0 30px;
  }
  @include media(mobile) {
    padding: 0 20px;
  }
}